# Terraform (anywhere in repo)
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# CLI config files
.terraformrc
terraform.rc

# Plan files
*.tfplan
tfplan
*.tfplan.*

# local backend config with real values
backend.hcl

# macOS
.DS_Store