# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# CLI config files
.terraformrc
terraform.rc

# Plan files
*.tfplan

# local backend config with real values
backend.hcl

.DS_Store