bucket         = "REPLACE_ME-tfstate-bucket"
key            = "aws-networking-project/dev/terraform.tfstate"
region         = "eu-central-1"
dynamodb_table = "REPLACE_ME-tf-locks"
encrypt        = true